/*!
 * Created by Artyom Manchenkov
 * artyom@manchenkoff.me
 * manchenkoff.me © 2019
 */

html {
  background-image: url('../img/background.jpg'); // will be optimized
  background-size: cover;
}

.block {
  text-align: center;
  color: #ffffff;
  margin: 70px auto;
}

.icon {
  width: 128px;
  height: 128px;
  display: inline-block;
  margin: 0 15px;
}

.icon-svg {
  background-image: url("../img/icon.svg"); // will be inline
}